name: astra
description: "A cross-platform mobile safety app (FYP)."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Networking + Maps + Location
  http: ^1.2.2
  flutter_map: ^6.2.1
  latlong2: ^0.9.1
  geolocator: ^10.1.1
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
